<div class='centered'>
  <div class='stack-vertical'>
    <img
      src='/img/{{imagePath}}'
      class='centered-image'
      alt='{{description}}'
    />
    <span class='image-caption'>{{description}}</span>
  </div>
</div>