<h1>User details</h1>
<p>Welcome to the User page. The ID parameter is from the route URL.</p>

<div class="centered-gray">

{{!-- Start of "if" block --}}
{{#if user}}
    <h3>User details:</h3>
    <ul>
        <li>User ID: {{ user.userId}}</li>
        <li>Name: {{ user.name}}</li>
        <li>Email: {{ user.email}}</li>
    </ul>
{{ else }}
    <h3>
    No user found with that ID.
    </h3>
{{/if }}    {{!-- End of the "if" block --}}
</div>

{{> nav-back-to-home}}
