<h1>Home</h1>
<p>Welcome to the Home page</p>
<p>Links:</p>
<ul>
    <li><a href="/hello-sam">Hello Sam</a></li>
    <li><a href="/hello-sue">Hello Sue</a></li>
    <li><a href="/hello-tom">Hello Tom</a></li>
    <li><a href="/hello-jerry">Hello Jerry</a></li>
</ul>