/* Styles for the demo app */
body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Content container */
div.container {
  padding: 2rem 1.5rem;
}

/* Links */
a, a:link, a:visited, a:hover, a:active {
  color: rgb(101, 101, 216)
}

/* Header bar */
header.top-bar {
  margin: 0;
  padding: 10px 20px;
  background-color: #989898;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Header nav links */
header .nav-link {
    display: block;
    padding: 0 20px;
}

header .nav-link a {
    color: white; 
    text-decoration:none;
}

/* Font styles */
.text-mono {
  font-family: 'Courier New', Courier, monospace;
}
.text-sans {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Centered gray text blocks */
.centered-gray {
  margin: 40px 60px;
  padding: 20px 40px;
  background-color: #989898;
  color: white;
}

/* Centered containers */
.centered {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* Vertically stacked */
.stack-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

/* Centered images */
.centered-image {
  max-width: 80%;
}

/* Image captions */
.image-caption {
    color: #232323;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 1rem;
    font-style: italic;
}