<h1>Home</h1>
<p>Welcome to the Home page</p>
<p>Links:</p>

<div style='margin-bottom: 40px;'>
  <p>Pages with ID from URL parameter</p>
  <ul>
    <li><a href='/user'>No user ID</a></li>
    <li><a href='/user/1'>User ID: 1</a></li>
    <li><a href='/user/2'>User ID: 2</a></li>
    <li><a href='/user/3'>User ID: 3</a></li>
    <li><a href='/user/4'>User ID: 4</a></li>
  </ul>
</div>

<div>
  <p>Pages with query parameters</p>
  <ul>
    <li><a href='/hello'>Anonymous user</a></li>
    <li><a href='/hello?name=Sam'>Hello page: Sam</a></li>
    <li><a href='/hello?name=Sue'>Hello page: Sue</a></li>
    <li><a href='/hello?name=Tom'>Hello page: Tom</a></li>
    <li><a href='/hello?name=Jerry'>Hello page: Jerry</a></li>
  </ul>
</div>