<h1>User details</h1>
<p>Welcome to the User page. The ID parameter is from the route URL.</p>
<div>
    <p>User ID: {{ userId}}</p>
</div>

<p>Links:</p>
<ul>
    <li><a href="/">Back to home</a></li>
</ul>
