{{!-- This template includes an HTML wrapper and a top nav --}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Example Express site</title>
</head>
<body style="margin:0;">
  <header style="margin:0;padding:10px 20px;background-color:#989898; color:white; display:flex; justify-content: space-between; align-items:center;">
      <h2>Welcome to my site</h2>
      <span style="display: block;padding:0 20px;">
      <a style="color: white; text-decoration:none;" href="/">Home</a>
      </span>
  </header>
  <div class="container" style="padding: 0 1.5rem;">
    {{{ body }}}
  </div>
</body>
</html>