{{!-- This template includes an HTML wrapper and has a back-to-home link --}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Example Express site</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  {{> header }}
  <div class="container">
    {{{ body }}}
  </div>
</body>
</html>