<div style='margin-bottom: 40px;'>
  <p>Pages with ID from URL parameter</p>
  <ul>
    <li><a href='/users'>No user ID</a></li>
    <li><a href='/users/1'>User ID: 1</a></li>
    <li><a href='/users/2'>User ID: 2</a></li>
    <li><a href='/users/3'>User ID: 3</a></li>
    <li><a href='/users/4'>User ID: 4</a></li>
    <li><a href='/users/99'>User ID: 99 (doesn't exist) </a></li>
  </ul>
</div>
<div style='margin-bottom: 40px;'>
  <p>Pages with static assets:</p>
  <ul>
    <li><a href='/kitten'>Page with a kitten</a></li>
    <li><a href='/dog'>Page with a dog</a></li>
  </ul>

<div>
  <p>Pages with query parameters</p>
  <ul>
    <li><a href='/hello'>Anonymous user</a></li>
    <li><a href='/hello?name=Sam'>Hello page: Sam</a></li>
    <li><a href='/hello?name=Sue'>Hello page: Sue</a></li>
    <li><a href='/hello?name=Tom'>Hello page: Tom</a></li>
    <li><a href='/hello?name=Jerry'>Hello page: Jerry</a></li>
  </ul>
</div>