<h1>Hello, {{ username }}!</h1>
<p>Welcome to the Hello page for {{ username }}</p>
<p>Username is set with the <span style="font-family:'Courier New', Courier, monospace;">name</span> query parameter.</p>

<p>Links:</p>
<ul>
    <li><a href="/">Back to home</a></li>
</ul>